/* src/index.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  z-index: -10;
  --bright-red: #fe0222;
  --dark-red: rgb(121, 0, 0);
  --white: #fff;
  --orange: #f37439;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: var(--white);
  transform-origin: 50%;
}
/* //////////////////////////////////////////////////////// */
